
<div class="text-center" [ngStyle]="{'margin-top': '200px' }" *ngIf="loading">
    <div class="spinner-border m-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class="container"  [ngStyle]="{'margin-top': '40px' }"  *ngIf="!loading">
  <div class="row">  <b>Search:</b>
      <div class="row">

          <div class="col-sm-3"><b>Fuel Type Code :</b><input type="text" [(ngModel)]="fueltypecode"></div>
          <div class="col-sm-3"><b>Cards Accepted :</b><input type="text" [(ngModel)]="cardsaccepted"></div>
          <div class="col-sm-3"><b>Station Name   :</b><input type="text" [(ngModel)]="stationname"></div>
          <div class="col-sm-3"><b>Lpg Primary    :</b><input type="text" [(ngModel)]="lpgprimary"></div>
          </div>
  </div>
  <h2>Detail</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Fuel Type Code</th>
        <th>Cards Accepted</th>
        <th>Station Name</th>
        <th>Lpg Primary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of markers | customFilter : fueltypecode :cardsaccepted :stationname : lpgprimary ">
        <td>{{m.fuelTypeCode}}</td>
        <td>{{m.cardsAccepted}}</td>
        <td>{{m.stationName}}</td>
        <td>{{m.iconColor}}</td>
      </tr>

    </tbody>
  </table>
</div>
