

<div class="text-center" [ngStyle]="{'margin-top': '200px' }" *ngIf="loading">
    <div class="spinner-border m-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class="container"  *ngIf="!loading">
  <div class="row" *ngIf='barChartData.length>0'>

      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>

  <div class="row" *ngIf='barChartData.length>0'>
      <h3 class="first">Put value of city for changing the chart</h3>
      <p-table #dt (onFilter)="filterEvent(dt)" [value]="drillData" [columns]="cols" dataKey="rowId" [scrollable]="true"
        [value]="rowData" [paginator]="true" [rows]="15">

        <ng-template pTemplate="header">

          <tr>
            <th *ngFor="let col of cols">{{col.header}}</th>

          </tr>
          <tr>
            <th *ngFor="let col of cols" [ngSwitch]="col.field">
              <input *ngSwitchCase="'city'" pInputText type="text"
                (input)="filterdata($event.target.value, col.field, 'contains')">
            </th>

          </tr>
        </ng-template>


        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
          <tr class="ui-widget-header">
            <td>
              <a href="#" [pRowToggler]="rowData">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                <span>{{rowData.city}}</span>
              </a>
            </td>
            <td>

              <span>{{rowData.cards_accepted}}</span>

            </td>
            <td>

              <span>{{rowData.intersection_directions}}</span>

            </td>
            <td>

              <span>{{rowData.state}}</span>

            </td>
            <td>

              <span>{{rowData.station_name}}</span>

            </td>
          </tr>
        </ng-template>

        <ng-template  pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex" let-rowData.viewDetails="false">
          <tr>
            <th>Cards Accepted</th>
            <th>Intersection Directions</th>
            <th>Station Name</th>
          </tr>
          <tr>
            <td>{{rowData.cards_accepted}}
            </td>
            <td>{{rowData.intersection_directions}}</td>
            <td>{{rowData.station_name}}</td>
          </tr>

        </ng-template>
      </p-table>
  </div>

</div>






