
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Artivatic Frontend Task</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" (click)="clickNavigation('googlemap')">GeoChart+Drill with Custom Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="clickNavigation('chartDrill')">Chart with Coupled Drill</a>
      </li>


    </ul>
  </div>
</nav>

<div *ngIf="viewService.routerVAl=='/'">

  <app-geo-chart>
  </app-geo-chart>

  <app-drill-with-pipe>
  </app-drill-with-pipe>

</div>




<router-outlet></router-outlet>
