



        <agm-map #gm [latitude]="lat" [longitude]="lng"
        [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
          <!-- (mapClick)="mapClicked($event)"-->
          <agm-marker *ngFor="let m of markers; let i = index"
            (mouseOver)="mouseOver(infoWindow, $event)" (mouseOut)="onMouseOut(infoWindow, $event)" [latitude]="m.lat"
            [longitude]="m.lng" [label]="m.label"  [iconUrl]="
          {
            url: m.iconColor =='true' ? 'http://maps.google.com/mapfiles/ms/icons/green-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
            scaledSize: {
                width: 20,
                height: 30
            }
        }">
            {{m.iconColor}}

            <agm-info-window #infoWindow>
              <strong>Demo Pop-up<br>
                Owner Type:{{m.ownerType}}<br>
                GeoStatusCode:{{m.geocodeStatus}}<br>
                CardsAccepted:{{m.cardsAccepted}}<br>
                FuelTypeCode:{{m.fuelTypeCode}}<br></strong>
            </agm-info-window>
            <!--fule_type_code, cards_accepted, station_name, lpg_primary-->
          </agm-marker>


        </agm-map>




